body{
    font-family: 'Noto Sans TC', sans-serif;
}
h1{
    font-family: 'Noto Sans TC', sans-serif;
}
.bg-primary {
    background-color: #0099ad!important;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}
.text-primary{
	color: #0099ad!important
}
h2  .mb-5 span{
     color: #0099ad!important
}